body
{
  background-color:#000;
  color: rgb(202, 217, 176);
}
h1
{
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}
.container {
  display: flex;
  align-items: center; 
}
.container p 
{
flex: 1;
}
.container img 
{
  margin-left: 10px;
} 
img
{
  height: 600px;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 100px;
  width: 500px;
  border-radius: 10%;
}
p
{
  font-size: 30px;
  padding-left: 20px;
  padding-right: 0px;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}
button
{
  display: inline-block;
  margin: 20px;
  padding: 50px;
  font-size: 10px;
  padding: 20px;
  background-color: black;
  border: 3px solid #ff004f;
  color: antiquewhite;
  transition-duration: 0.4s;
}
button:hover
{
  background-color: #ff004f;
  color: white;
}
h6
{
  text-align: center;
  font-size: 30px;
}
a
{
  text-decoration: none;
  color: aqua;
}
